@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
    font-family: 'Enby-Gertrude';
    src: url('/fonts/Enby_Gertrude_roman_2025.woff2') format('woff2');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}



body {
  font-family:'Enby-Gertrude';
  background: var(--background);
  color: var(--foreground);
  color : rgb(36, 35, 35);

}

#card{
  transition: transform 6s ease;
}

#card:hover{
  transform: scale(1.6);
  transition : transform 2s ease;
}

.gray{
  background-color: #f5f5f5;
}

.bg-fond{
  background-color: var(--background);
}
