@import "tailwindcss";

:root {
  --background: #f3f2f2;
  --foreground: #2d2a2a;
}


@font-face {
  font-family: 'BBB_Karrik';
  src: url('/fonts/BBB_Karrik.woff2') format('woff2'),
  url('/fonts/BBB_Karrik.woff') format('woff');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family:'Enby-Gertrude-Roman';
    src:
      url('/fonts/Enby_Gertrude_roman.woff2') format('woff2'),
      url('/fonts/Enby_Gertrude_roman.woff') format('woff'),
      url('/fonts/Enby_Gertrude_roman-SVG.woff2') format('woff2');
      font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-noto-sans-kannada);
  font-weight: 300;
  background-color: var(--background);
  color : var(--foreground);
}

.thin {
  font-weight: 200;
}

.transform{
  transition: opacity 0.6s ease;
}

@media (min-width: 1024px) {
  .transform{
    transition: transform 4s ease, opacity 0.6s ease;
  }
  .transform:hover{
    transform: scale(2);
    transition:
      transform 2s ease,
      opacity 0.6s ease;
  }
}




.bg-fond{
  background-color: var(--background);
}


.disabled{
  pointer-events: none;

}

.last-center{
  text-align-last: center;
}
