@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@font-face {
    font-family:'Enby-Gertrude-Roman';
    src:
      url('/fonts/Enby_Gertrude_roman.woff2') format('woff2'),
      url('/fonts/Enby_Gertrude_roman.woff') format('woff'),
      url('/fonts/Enby_Gertrude_roman-SVG.woff2') format('woff2');
      font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
  font-family:'Enby-Gertrude-Roman';
  background: var(--background);
  color: var(--foreground);
  color : rgb(36, 35, 35);

}


.transform{
  transition: opacity 0.6s ease;
}

@media (min-width: 1024px) {
  .transform{
    transition: transform 4s ease, opacity 0.6s ease;
  }
  .transform:hover{
    transform: scale(1.6);
    transition:
      transform 2s ease,
      opacity 0.6s ease;
  }
}



.gray{
  background-color: #f5f5f5;
}

.bg-fond{
  background-color: var(--background);
}


.disabled{
  pointer-events: none;

}

.last-center{
  text-align-last: center;
}
