@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color : rgb(36, 35, 35);

}

#card{
  transition: transform 6s ease;
}

#card:hover{
  transform: scale(1.6);
  transition : transform 2s ease;
}

.gray{
  background-color: #f5f5f5;
}
